doctype html

html(lang='en')
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/Yorha.css')
        title=name

    header
        h1=name

    body
        h1 About section
        h2 Site Creator
        p Clément MONFORT